/* @import "node_modules/@glidejs/glide/src/assets/sass/glide.core"; */

body {
  margin: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

/*navbar styles */
nav a {
  display: inline-block;
}

#navbar {
  display: flex;
  justify-content: space-between;
}

#navbar form {
  padding-left: 1em;
}

#leftNav {
  align-items: center;
  display: flex;
  flex-basis: 40%;
  padding-left: 1em;
}

#logo {
  width: 100px;
}

#rightNav {
  flex-basis: 30%;
  display: flex;
  justify-content: flex-end;
}

#rightNav a {
  color: #242562;
}

#cart {
  margin: 0;
  padding-left: 2em;
  padding-right: 2em;
}

#login {
  margin: 0;
  padding-left: 2em;
  padding-right: 2em;
}

#cartImg {
  width: 30px;
}

.navButton p {
  font-size: 10px;
}

form div {
  display: inline-block;
}

/*footer styles */
#footer {
  background-color: #c1c7d8;
  display: flex;
  padding-top: 1em;
  padding-bottom: 2em;
  flex-direction: row;
}

#firstChild {
  padding-left: 1em;
  padding-right: 1em;
  display: flex;
  flex-direction: column;
}

#secondChild {
  padding-left: 1em;
  padding-right: 1em;
  display: flex;
  flex-direction: column;
}

#thirdChild {
  padding-left: 1em;
  padding-right: 1em;
}
